.chocolat-zoomable.chocolat-zoomed {
  cursor: zoom-out;
}
.chocolat-open {
  overflow: hidden;
}
.chocolat-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  display: none;
  opacity: 0.8;
}
.chocolat-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  color: #fff;
}
.chocolat-zoomable .chocolat-img {
  cursor: zoom-in;
}
.chocolat-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: none;
}
.chocolat-content {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  z-index: 50;
  text-align: left;
}

.chocolat-content .chocolat-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.chocolat-wrapper .chocolat-prev {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
  background: url(../images/left.png) 50% 50% no-repeat;
  z-index: 100;
  display: none;
}
.chocolat-wrapper .chocolat-next {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
  background: url(../images/right.png) 50% 50% no-repeat;
  z-index: 100;
  display: none;
}
.chocolat-wrapper .chocolat-next.active {
  display: block;
}
.chocolat-wrapper .chocolat-prev.active {
  display: block;
}
.chocolat-wrapper .chocolat-top {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 100;
  margin-bottom: 10px;
}
.chocolat-wrapper .chocolat-close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/close.png) 50% 50% no-repeat;
}
.chocolat-wrapper .chocolat-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  height: 40px;
  font-size: 12px;
  z-index: 100;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.2);
  text-align: right;
  margin-top: 10px;
}
.chocolat-wrapper .chocolat-set-title {
  display: inline-block;
  padding-right: 15px;
  line-height: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.chocolat-wrapper .chocolat-pagination {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  /*border-right: 1px solid rgba(255, 255, 255, 0.2);*/
}
.chocolat-wrapper .chocolat-fullscreen {
  width: 16px;
  height: 40px;
  background: url(../images/fullscreen.png) 50% 50% no-repeat;
  display: block;
  margin: auto;
  cursor: pointer;
  float: right;
}
.chocolat-wrapper .chocolat-description {
  float: left;
}

/* no container mode*/
body > .chocolat-wrapper {
  width: 100vw;
  height: 100vh;
}

/* container mode*/
.chocolat-contained .chocolat-wrapper,
.chocolat-contained .chocolat-content,
.chocolat-contained .chocolat-overlay {
  position: absolute;
}
.chocolat-contained {
  position: relative;
}

/* uncomment to hide controls when zoomed-in*/
.chocolat-zoomable .chocolat-top,
.chocolat-zoomable .chocolat-bottom,
.chocolat-zoomable .chocolat-next,
.chocolat-zoomable .chocolat-prev {
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  opacity: 1;
}

.chocolat-zoomable.chocolat-zoomed .chocolat-top,
.chocolat-zoomable.chocolat-zoomed .chocolat-bottom,
.chocolat-zoomable.chocolat-zoomed .chocolat-next,
.chocolat-zoomable.chocolat-zoomed .chocolat-prev {
  visibility: hidden;
  opacity: 0;
}
